$green: #7AC751;
$blue: #00B7F1;
$red: #FF6868;
$white: #FFFFFF;
$dark-gray: #555555;
$gray: #757575; 
$medium-gray: #E3E3E3;
$light-gray: #F7F8FA;
$placeholder: #B0B0B0;
$gray-inactive: #C2C2C2;

